
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  font-size: 14px;
  background-color: #f9fafb;

  .pagination-info {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #6b7280;

    .pagination-dropdown {
      padding: 6px 10px;
      border: 1px solid #d1d5db;
      border-radius: 5px;
      cursor: pointer;
      background: #ffffff;
    }
  }

  .pagination-controls {
    display: flex;
    align-items: center;
    gap: 5px;

    .arrow-button {
      background: #e5e7eb;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background: #d1d5db;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .page-button {
      background: transparent;
      border: 1px solid #d1d5db;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background: #e5e7eb;
      }

      &.active {
        // background-color: #2563eb;
        color: black;
        border-color: #2563eb;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}
