.user-detail-container {
  hr{
    background-color: #d5d8e2;
    margin: 0 20px;
    border: 0.5px solid #b9b6b7;
  }
  .actions {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 20px;

    button {
      padding: 10px 15px;
      border-radius: 8px;
      border: 1px solid transparent;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;

      &.blacklist {
        background: white;
        border: 1px solid #e4033b;
        color: #e4033b;
      }

      &.activate {
        background: #39cdcc;
        color: white;
      }
    }
  }
  .back-button {
    background: none;
    border: none;
    color: #545f7d;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .headerh1 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #213f7d;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    background: white;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    margin-bottom: 40px;

    .user-info {
      display: flex;
      align-items: center;

    
      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #d1d5db;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
      }

      .details {
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h2 {
          font-size: 18px;
          margin: 0;
          color: #213f7d;
          font-weight: bold;
        }

        .column{
          display: flex;
          flex-direction: column;
          margin-right: 70px;
        }
        .user-tier {
          font-size: 14px;
          display: flex;
          align-items: center;
        }
        .star{
          color: #f59e0b;
          display: flex;
          align-items: center;
        }

        .balance {
          font-size: 18px;
          font-weight: bold;
          margin-top: 5px;
          color: #213f7d;
        }

        .bank-details {
          font-size: 14px;
          color: #6b7280;
        }
      }
    }
    .tabs {
      display: flex;
          /* gap: 70px; */
          margin-top: 40px;
          // padding-top:20px ;
          border-bottom: 1px solid #e5e7eb;
          flex-direction: row;
          justify-content: space-between;
  
  button {
    background: none;
    border: none;
    font-size: 16px;
    color: #6b7280;
    padding-bottom: 10px;
    cursor: pointer;

    &.active {
      font-weight: bold;
      color: #39cdcc;
      border-bottom: 2px solid #39cdcc;
    }
  }
}

  }

  
  .main-tab{
    background-color: white;
  }
  .info-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    // box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;

    h3 {
      font-size: 18px;
      font-weight: bold;
      color: #213f7d;
      margin-bottom: 15px;
    }

    .info-grid-employe{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
    .info-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      p {
        margin: 5px 0;
        font-size: 14px;
        color: #6b7280;

        strong {
          display: block;
          font-weight: bold;
          color: #213f7d;
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
}
